@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script type="text/javascript" src="~/js/sliderScript.js"></script>
}

@section css {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/sliderStyle.css")" rel="stylesheet"/>
}

<div class="title">
    <h1 style="text-align: center">Awesome Art Supplies Galore!</h1>
</div>

<!-- SLIDER -->
<div id="slider">
  <a href="#" class="control_next">></a>
  <a href="#" class="control_prev"><</a>
  <ul>
    <li ><img src="https://images.pexels.com/photos/2836955/pexels-photo-2836955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" /></li>
    <li style="background: #aaa;"><img src="https://images.pexels.com/photos/983830/pexels-photo-983830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" /></li>
    <li>SLIDE 3</li>
    <li style="background: #aaa;">SLIDE 4</li>
  </ul>  
</div>

<div class="slider_option">
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Autoplay Slider</label>
</div>

<div class="quickLinks">
    <div class="link_img">
        <img src="https://images.pexels.com/photos/35202/eraser-office-supplies-office-office-accessories.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
    </div>
    <div class="link_img">
        <img src="https://images.pexels.com/photos/8386696/pexels-photo-8386696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
    </div>
    <div class="link_img">
        <img src="https://via.placeholder.com/200" />
    </div>
</div>
